* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}
    /*NAVBAR*/
.navbar {
    width: 100%;
    height: 81px;

    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-logo {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 82px;
    color: #fff;
    margin-left: 30px;
    user-select: none;
}
.nav-logo strong {
    color: #1391ea;
}
.navbar a {
    color: #fff;
}

.nav-a a:hover {    
    color: #1391ea;
    transition: 0.3s;
}
.nav-space {
    display: flex;
}
.nav-space div {
    margin-right: 50px;
}
 
            /*BOX HELLO*/
    
    .box-hello {
        width: 100%;
        height: 100vh;
        background: url('../src/images/bg.jfif') no-repeat;
        background-size: 1028px;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        border-bottom: #00000057 2px solid;   
     }
    .box-hello p  {
        font-size: 30px;
    }
    .box-hello h1 {
        font-size: 50px; 
    }
    .box-hello-buttons {    
        display: flex;
        width: 319px;
        justify-content: space-between;
        margin-top: 40px;
    }
    .box-hello-buttons button {
        background: black;
        border: #00000091 solid 1px;
        border-radius: 3px;
        width: 142px;
        height: 49px;
        font-weight: bold;
        transition: 0.2s;
        cursor: pointer;
        color: #118fea;
    }
    .box-hello-buttons button:hover {
        border: none;
        color: #fff;
        background-color: #1391ea;
    }

    .box-article {
        display: flex;
        justify-content: center;
        flex-direction: column;

        padding-top: 99px;
    }
    .box-article-img-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-article-img-hero img { 
        width: 457px;
        margin: 100px 0px 100px 0px;
    }
    .box-article-all-articles {
        width: 100%; 

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-article-unique { 
        width: 90%;
        background-color: rgba(176, 176, 176, 0.2);
        padding: 31px;

        border-radius: 5px;
        margin: 50px 0px;
        line-height: 45px;

    }
    .box-article-unique button {
    border: none;
    border-radius: 2px;
    width: 85px;
    height: 28px;
    cursor: pointer;
    font-weight: bold;

    background-color: #000000;
    color: #1391ea;
    transition: 0.4s;
    }
    .box-article-unique button:hover {
        background-color: #1391ea;
        color: #fff;
    }
    footer { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 218px;
    }
    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer div button {
        width: 146px;
        height: 41px;

        border: none;
        border-radius: 5px;
        font-weight: bold;
        margin: 60px 0px;
        cursor: pointer;

        background-color: #000000;
        color: #1391ea;
        transition: 0.4s;
    }

    footer div button:hover {
        background-color: #1391ea;
        color: #fff;
    }
/*RESPONSIVE*/

@media (max-width:780px){
    .nav-logo {
        font-size: 25px;
        margin-left: 5px;
}
    .nav-a {
        font-size: 10px;
    }

}

@media (max-width:667px){
    .nav-logo {
        display: none;
    }
    .nav-a a{
        font-size: 12px;
    }
    .navbar {
        justify-content: center;
    }
}