* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
}
    /*NAVBAR*/
.navbar {
    width: 100%;
    height: 81px;

    background-color: #000;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-logo {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 82px;
    color: #fff;
    margin-left: 30px;
    user-select: none;
}
.nav-logo strong {
    color: #1391ea;
}
.navbar a {
    color: #fff;
}

.nav-a a:hover {    
    color: #1391ea;
    transition: 0.3s;
}
.nav-space {
    display: flex;
}
.nav-space div {
    margin-right: 50px;
}

    /*BOX CATEGORY*/

.box-category {
    height: 100vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}
.box-category-all h1 {
    text-align: center;

    margin: 40px 0px;
}

.box-category-all h1 strong {
    color: #1391ea;
}
.box-gray-container {
    background-color: #efefef;
    width: 1014px;
    height: 300px;
    border-radius: 17px;

    display: flex;
}

.box-gray-container-div-itens {
    width: 50%;
    padding-left: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.box-gray-container-div-itens h3 {
    text-align: center;
}

.box-gray-container-div-itens input{
    margin: 30px 0px;
    width: 310px;

}
.box-gray-container-div-itens button {
    border: none;
    background-color: #1391ea;

    color: #fff;
    font-weight: bold;

    height: 33px;
    width: 90px;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.4s;

}

.box-gray-container-div-itens button:hover {
    background-color: #000;
    color: #1391ea;
}

.box-gray-container-div-img {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.box-gray-container-div-img img {
    width: 400px;
}

/*RESPONSE*/
            /*NAVBAR*/
            @media (max-width:780px){
                .nav-logo {
                    font-size: 25px;
                    margin-left: 5px;
            }
                .nav-a {
                    font-size: 10px;
                }
            }
            
            @media (max-width:667px){
                .nav-logo {
                    display: none;
                }
                .nav-a a{
                    font-size: 12px;
                }
                .navbar {
                    justify-content: center;
                }
            }

            /*CONTAINER*/
            @media (max-width:1050px) {
                .box-gray-container {
                    width: 800px;
                    
                }
                .box-gray-container-div-img img {
                    width: 390px;
                }

                .box-gray-container-div-itens {
                    padding: none;
                    align-items: center;
                }

                .box-gray-container-div-itens input {
                    width: 260px;
                }
                .box-gray-container-div-itens {
                    width: 50%;
                    /* padding-left: 70px; */
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            @media (max-width:830px) {
                .box-gray-container {
                    width: 600px;
                    
                }

                /*Teste*/
                .box-gray-container-div-itens {
                    width: 50%;
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .box-gray-container-div-img img {
                    width: 200px;
                }

            }

            @media (max-width:635px) {
                .box-category-all {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                .box-gray-container {
                    width: 475px;
                }

                .box-gray-container-div-itens input {
                    width: 175px;
                }

                .box-gray-container-div-img img{
                    width: 164px;
                }
            }